@model SiteMarchand_ME.Models.Abonnement
@{
    ViewBag.Title = "ajouterAbonnement";
}

<h2>ajouterAbonnement</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("AjouterAbonnement", "Abonnement", FormMethod.Post))
    {
        <span>@Html.DisplayNameFor(model => model.Nom) : </span><span>@Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model => model.Prix) : </span><span>@Html.TextBoxFor(model => model.Prix, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model => model.Duree) : </span><span>@Html.TextBoxFor(model => model.Duree, new { @class = "form-control" })</span><br />
        <button type="submit">Ajouter</button>
    }
</div>