@model SiteMarchand_ME.Models.Adresse
@{
    ViewBag.Title = "AjouterAdresse";
}

<h2>AjouterAdresse</h2>

<div>
    @using (Html.BeginForm("AjouterAdresse", "Client", FormMethod.Post))
    {
        <span>@Html.DisplayNameFor(model => model.typeadresse) : </span><span>@Html.EnumDropDownListFor(model => model.typeadresse, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model=> model.NumeroRue) : </span><span>@Html.TextBoxFor(model => model.NumeroRue, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model => model.NomRue) : </span><span>@Html.TextBoxFor(model => model.NomRue, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model => model.CodePostal) : </span><span>@Html.TextBoxFor(model => model.CodePostal, new { @class = "form-control" })</span><br />
        <span>@Html.DisplayNameFor(model => model.Ville) : </span><span>@Html.TextBoxFor(model => model.Ville, new { @class = "form-control" })</span><br />
        <button type="submit">Valider</button>
    }
</div>