@model IEnumerable<SiteMarchand_ME.Models.Utilisateur>
@{
    ViewBag.Title = "listerAdministrateur";
}

<h2>listerAdministrateur</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nom)</th>
                <th>@Html.DisplayNameFor(model => model.Prenom)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Pseudo)</th>
                <th>@Html.DisplayNameFor(model => model.Role)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => m.Nom)</td>
                    <td>@Html.DisplayFor(modelItem => m.Prenom)</td>
                    <td>@Html.DisplayFor(modelItem => m.Email)</td>
                    <td>@Html.DisplayFor(modelItem => m.Pseudo)</td>
                    <td>@Html.DisplayFor(modelItem => m.Role)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Se Connecter", "LoginAdmin")<br />